<section>
    <div class="container">
        <div class="row mt-4">
           
        </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Name</th>
                     <th>Email</th>
                   
                   
                    
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.Name}}</td>
                     <td>{{this.Email}}</td>
                    
                   
                </tr>
                {{/each}}
            </tbody>

        </table>

    </div>



</section>